/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30 nov 2025, 4:42:55 a.m.
    Author     : jorge
*/

body {
    font-family: 'Kufam', sans-serif;
    background: #4C185E;
    margin: 0;
    padding: 0;
}

.pantalla-partida {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Texto superior */
.titulo-partida {
    font-size: 60px;
    font-weight: 800;
    color: #FFE19C;      
    margin-bottom: 50px;
    text-align: center;
}

/* Imagen que gira */
.imagen-carga {
    width: 260px;
    height: 260px;
    object-fit: contain;
    animation: giroCarga 1.5s linear infinite;
}

/* Texto inferior */
.subtitulo-partida {
    font-size: 35px;
    font-weight: 800;
    color: #FFE19C;      
    margin-top: 40px;
    text-align: center;
}

@keyframes giroCarga {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


