/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 nov 2025, 1:10:59 a.m.
    Author     : jorge
*/

/* Fondo en morado  */
body {
    font-family: 'Kufam', sans-serif;
    background: #4C185E;
    margin: 0;
    padding: 0;
}

/* Centra el contenido en pantalla */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.titulo {
    font-size: 90px;     
    font-weight: 900;     
    color: #FFE19C;       
    text-align: center;
    line-height: 0.9;    
    font-family: 'Kufam', sans-serif;
}



.boton-registrarse {
    width: 260px;
    height: 75px;
    background: #F4EBFF;
    color: #6A4FB3;
    border: none;
    border-radius: 40px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    transition: 0.25s;
}

/* Animación ligera */
.boton-registrarse:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(0,0,0,0.35);
}

/* Estrella del botón */
.icono-estrella {
    width: 35px;
    height: 35px;
    object-fit: contain;
    user-select: none;
}
